.dropdown {
	background-color: #15294b;
	color: white;
	position: relative;
	transition: all 0.3s ease-in-out;
	position: relative;
}
.line1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 7vh;
	margin-left: 4rem;
	gap: 2rem;
	user-select: none;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 120px;
	transition: all 0.3s ease-in-out;
}
.arrow {
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.code {
	font-size: 0.95em;
}
.course-name {
	font-weight: 500;
	font-size: 1.2em;
}
.line2 {
	position: absolute;
	display: flex;
	top: 3.1rem;
	width: 100%;
	height: 0vh;
	background-color: #15294b;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 4.5rem;
	gap: 0.8rem;
	transition: all 0.3s ease-in-out;
}
.line2hide {
	height: 10vh;
	display: flex;
	transition: all 0.3s ease-in-out;
}
.codes {
	margin-left: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	font-size: 0.95em;
	transition: all 0.3s ease-in-out;
}
.line2-heading {
	font-size: 0.8em;
	transition: all 0.3s ease-in-out;
}

.allcodes {
	padding: 1px 8px;
	border-radius: 6px;
	animation: dropdownOpen 0.3s ease-in-out;
}

@keyframes dropdownOpen {
	0% {
		font-size: 0em;
	}
	50% {
		font-size: 0em;
	}
	100% {
		font-size: 0.95em;
	}
}

.allcodes:hover {
	cursor: pointer;
}
.selected {
	background-color: white;
	color: #15294b;
	padding: 1px 8px;
	border-radius: 6px;
	transition: all 0.5s ease-in-out;
}
