.references {
	padding: 3rem;
	border-top: 1px solid #0096ff;
	border-image: linear-gradient(to left, white 1%, #0096ff 100%) 1;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.ref-list p {
	font-size: 1.5em;
	padding-left: 2rem;
}
.ref-list p:hover {
	background-color: #d0cfcf;
	cursor: pointer;
}
.ref-list :nth-child(odd) {
	background-color: #f1f1f1;
}
