.topic {
	width: 100%;
}
.topic-titles {
	width: 80%;
	margin: 2rem auto;
}
.topic-titles :nth-child(1) {
	font-size: 1.5em;
}
.topic-titles :nth-child(2) {
	font-size: 1em;
	color: rgb(147, 146, 146);
}
.topic-titles :nth-child(3) {
	text-align: right;
	font-weight: 600;
	color: #0096ff;
}
.topic-content {
	margin: 4rem auto;
	width: 80%;
}
.topic-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: -2rem;
}
.topic-link {
	font-size: 1.2em;
	color: gray;
	padding: 5px 25px;
	display: flex;
	gap: 1rem;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.topic-link p {
	font-size: 0.8em;
}
.topic-link.topic-active {
	background-color: #fff;
	padding: 5px 25px;
	border: 1px solid #0096ff;
	border-bottom: 1px solid white;
}
.topic-outlet {
	background-color: #fff;
	height: 400px;
	border: 1px solid #0096ff;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 13px 15px 26px -3px rgba(0, 0, 0, 0.1);
}
.ref {
	color: black;
}
